body {
    background: #f1f1f1;
    color: #444;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: 14px;
    line-height: 1.4em;
    min-width: 600px;
    display: flex;
    flex-direction: column;
    height: 95vh;
    margin: 0;
}

footer, header {
    background-color: #f1f1f1;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}

#content-prl {
    background-color: #f1f1f1;
    margin: 0 !important;
    padding: 50px;
}

#tfi-user-page-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 1px solid #ccd0d4;
}

#tfi-user-page-header h1 {
    min-width: 200px;
    text-align: center;
    flex-grow: 1;
}

#header-buttons a {
    padding: 4px 8px;
    position: relative;
    top: -3px;
    text-decoration: none;
    border: 1px solid #0071a1;
    border-radius: 2px;
    text-shadow: none;
    font-weight: 600;
    font-size: 13px;
    line-height: normal;
    color: #0071a1;
    background: #f3f5f6;
    cursor: pointer;
}

#header-buttons a:hover {
    background: #f1f1f1;
    border-color: #016087;
    color: #016087;
}

#header-buttons a:focus {
    border-color: #007cba;
    box-shadow: 0 0 0 1px #007cba;
    outline: 2px solid transparent;
    color: #016087;
}

#tfi-user-page-content {
    flex-grow: 1;
    margin:0;
}

#tfi-user-page-content .error {
    line-height: 1.5;
    margin: 25px 0 20px;
    padding: 10px 20px;
    border: 1px solid #ccd0d4;
    border-left: 4px solid #dc3232;
    background-color: white;
}

#tfi-user-page-content a:hover {
    color: rgb(90, 90, 138);
}

#tfi-user-page-content a {
    color: rgb(63, 63, 107);
    text-decoration: none;
}

#tfi-user-page-content .form-table {
    border-collapse: collapse;
    margin-top: .5em;
    width: 100%;
    clear: both;
}

#tfi-user-page-content .form-table th {
    vertical-align: center;
    text-align: left;
    padding: 20px 10px 20px 0;
    width: 200px;
    line-height: 1.3;
    font-weight: 600;
}

#tfi-user-page-content .form-table td {
    margin-bottom: 9px;
    padding: 15px 10px;
    line-height: 1.3;
    vertical-align: middle;
}

#tfi-user-page-content .form-table .preview {
    width: 100%;
}

#tfi-user-page-content .form-table .preview-image img {
    border: 1px dashed #ccd0d4;
}

#tfi-user-page-content .multiple-field-button {
    color: #0071a1;
    border-color: #0071a1;
    background: #f3f5f6;
    vertical-align: top;
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    line-height: 2.15384615;
    min-height: 30px;
    margin: 0;
    padding: 0 10px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    border-radius: 3px;
    white-space: nowrap;
    box-sizing: border-box;
}

#tfi-user-page-content .multiple-field-button:hover {
    background: #f1f1f1;
    border-color: #016087;
    color: #016087;
}

#tfi-user-page-content .multiple-field-button:active, #tfi-user-page-content .multiple-field-button:disabled {
    background: #f3f5f6;
    border-color: #7e8993;
    color: #7e8993;
    box-shadow: none;
}

#tfi-user-page-content .multiple-field-button:focus {
    background: #f3f5f6;
    border-color: #007cba;
    color: #016087;
    box-shadow: 0 0 0 1px #007cba;
    outline: 2px solid transparent;
    outline-offset: 0;
}

#tfi-user-page-content input[type=text] {
    padding: 0 8px;
    line-height: 2;
    min-height: 30px;
    box-shadow: 0 0 0 transparent;
    border-radius: 4px;
    border: 1px solid #7e8993;
    background-color: #fff;
    color: #32373c;
}

#tfi-user-page-content input[type=text]:focus {
    border-color: #007cba;
    box-shadow: 0 0 0 1px #007cba;
    outline: 2px solid transparent;
}

#tfi-user-page-content input[type=number] {
    box-shadow: 0 0 0 transparent;
    border-radius: 4px;
    border: 1px solid #7e8993;
    background-color: #fff;
    color: #32373c;
    padding: 0 8px;
    line-height: 2;
    min-height: 30px;
}

#tfi-user-page-content input[type=file] {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#tfi-user-page-content input[type=file] + label,
#tfi-user-page-content input[type=submit] {
    background: #007cba;
    border-color: #007cba;
    color: #fff;
    text-decoration: none;
    text-shadow: none;
    font-size: 13px;
    line-height: 2.15384615;
    min-height: 30px;
    margin: 0;
    padding: 0 10px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    border-radius: 3px;
    white-space: nowrap;
    box-sizing: border-box;
}

#tfi-user-page-content input[type=file] + label {
    padding: 5px 10px;
}

#tfi-user-page-content input[type=submit]:focus {
    outline: 2px solid transparent;
    background: #0071a1;
    border-color: #0071a1;
    color: #fff;
    box-shadow: 0 0 0 1px #fff, 0 0 0 3px #007cba;
}

#tfi-user-page-content input[type=file]:focus + label,
#tfi-user-page-content input[type=file] + label:hover
#tfi-user-page-content input[type=submit]:hover {
    background: #0071a1;
    border-color: #0071a1;
    color: #fff;
}

#tfi-user-page-content .tfi-message {
    width: 200px;
}

#tfi-user-page-content .tfi-success {
    color: rgb(34, 146, 34);
}

#tfi-user-page-content .tfi-info {
    color: rgb(24, 131, 194);
}

#tfi-user-page-content .tfi-error {
    color: rgb(209, 41, 41);
}

#tfi-user-page-footer {
    padding-top: 10px;
    border-top: 1px solid #ccd0d4;
    text-align: right;
}
